@import "~bootstrap/scss/bootstrap.scss";
@import './custom.scss';

.App {
  padding: 0;
}

.text-center-algin {
  display: flex;
  justify-self: center;
  align-items: center;
}

.update-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.star {
  color: red;
}

.bg-light {
  background-color: #fcecde !important;
}

.sub-title {
  margin-bottom: 15px;
}

input {
  margin: 0.4rem;
}

.font-color-green {
  color: green !important
}

.font-color-red {
  color: red !important
}

.right-btn {
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.text-primary {
  --bs-text-opacity: 1;
  color: rgba(#feb272, var(--bs-text-opacity)) !important;
}

.navbar-toggler:focus {
  border: var(--bs-border-width) solid rgba(#feb272, 0.3);
  box-shadow: 0 0 0 0.2rem rgba(#feb272, 0.2);
}
